* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

.page-default {
  margin: 50px 62px 0;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .page-default {
    margin: 30px 42px
  }
}
