.block {
    background-color: #2196F3;
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: space-between;
}
.blockButton {
    display: flex;
    flex-wrap: wrap;
    padding: 0 64px 0 64px;
}